/BackEnd/Config/config.php
D:\xampp\htdocs\Web2\BackEnd\Config\config.php
D:\xampp\htdocs\Web2\MySQLScript\sql_web2.sql
C:\xampp\htdocs\Web2\MySQLScript\sql_web2.sql
venv
C:\xampp\MercuryMail\htdocs\Web2\venv
D:\xampp\MercuryMail\htdocs\Web2\venv
BackEnd\Config\config.php